.accomplishments{
    //transform: translateY(3.5*$header-banner-spacing);
    //padding-bottom:3*$header-banner-spacing;
    padding-left:$s-size;
    padding-top:$l-size;
}

.accomplishments__title{
    text-overflow: ellipsis;
    width: 60%;
    color: #565656;
    margin-bottom: 0.75rem;
    overflow: hidden;
    white-space: nowrap;
}

.accomplishments__titleline{
    width:60%;
    border-top: 5px solid $banner-blue;
}