.cvPage {
  display: flex;
  //transform: translate(50%, 0%);
  width:100%;
  max-width:$cv-page-width-limit;
  margin:$s-size
}

.userPicture {
  height: $left-section;
  width: $left-section;
}

.about-section {
  width: $left-section;
  background-color: $about-grey;
}

.banner {
  max-width:$cv-page-width-limit;
  width: auto;
  z-index: 10;
  position: absolute;
  transform: translateY(-$header-banner-spacing);
  display: flex;
  h2 {
    margin: 0;
  }
  h3 {
    margin: 0;
  }
}

.banner__name {
  min-width:  $left-section;
  opacity: 0.75;
  color: white;
  background-color: $banner-blue;
  width: 1 * $left-section + $s-size;
  margin: 0;
  padding: $s-size $m-size;
}

.banner__icons {
  img {
    width: 3rem;
    height: 2.5rem;
  }
}

.bannerInfo {
  display: flex;
  align-items: center;
  padding-left: $s-size;
  p {
    margin: 0.5rem;
    color: $text-color;
  }
}

.skills-section {
  padding: 0 $m-size 0 $l-size;
}

.introduction {
  height: $left-section - $header-banner-spacing;
 
  padding-left : $s-size;
  
  
  
}
.introduction__text{
  overflow: overlay;
  height: $left-section -  5*$header-banner-spacing ;
  padding-right: 2rem;
  p {
  
    color: $text-color;
    text-align: justify;
  }
}

.bannerSection {
  transform: translateY(4.65 * $header-banner-spacing);
  padding-bottom: 2.5 * $header-banner-spacing;
  padding-left: $s-size;
}
