.main-div {
  width: 100%;
}
.cvPage {
  display: flex;
  max-width: $cv-page-width-limit;
  padding: $s-size;
  width: 100%;
}

.userPicture {
  display: block; // to take out space in bottom of image;
  height: $left-section;
  width: $left-section;
}

.about-section {
  width: auto;
  background-color: $about-grey;
}

.compensateBanner {
  height: $header-banner-spacing + 2 * $s-size; // 2 time banner pading (top + bottom)
}

.right-section {
  width: 100%;
  padding: 0 0 0 $m-size;
}

.footer {
  min-width: 65rem;
  display: flex;
  max-width: 90rem;
  width: 100%;
  flex-direction: column;
  text-align: center;
  position: absolute;
  p {
    font-style: italic;
    font-size: 1.2rem;
  }

  &__keyword {
    color: $banner-blue;
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  .main-div {
    width: auto;
  }

  .footer {
    padding: $s-size;
  }
}
