.educationlist{
    transform: translateY(2.5*$header-banner-spacing);
    padding-bottom:2.5*$header-banner-spacing;
    padding:$s-size $m.size;
}

.about-title{
    width:60%;
    color:$text-color-dark;
    margin-bottom: 0.5* $horizontal-item-spacing;
}

.about-title-line{
    width:60%;
    border-top: 5px solid $banner-blue;
}