.experienceList {
    //transform: translateY(3.61 * $header-banner-spacing);
    padding-bottom: 2.5 * $header-banner-spacing;
    padding-left: $s-size;
    padding-top:$l-size + $header-banner-spacing;
  }

.experienceList__title {
    font-weight: bold;
    color:$banner-blue;
    margin-bottom:0;
    
}
.experienceList__date {
    font-weight: bold;
    color:$text-color-dark;
    margin: $s-size/4 0 $s-size/2 0;
}
.experienceList__dates {
    color:$text-color;
    margin: 0.5*$s-size 0;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.experienceList__titles {
    white-space: nowrap;
    text-overflow:ellipsis;
}
.experienceList__description{
    color:$text-color;
    text-align: justify;
}

