.header-layout {
  width: 100%;
  background-color: $about-grey;
  height: 5rem;
  display: flex;
  justify-content: center;
  display: none;

  a {
    color: $banner-blue;
    font-weight: bold;
    padding: $horizontal-item-spacing;
  }
}
