.progressItemList {
  margin-top: $m-size;
  color: $text-color-dark;
  font-weight: bold;
}

.progressItem {
  display: flex;
  flex-direction: row;
  padding-bottom: $s-size;
}

.progressLabel {
  overflow:overlay;
  width: 20%;
}
.progressBarDiv {
  justify-content: flex-start;
  display: flex;
  width: 80%;
  margin-left: $s-size;
  align-content: right;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 50%;
  border-radius: 9px;
  border: 1px solid $text-color-dark;
}

.progress-fill {
  background: $banner-blue;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
