.sectionlistitem-box{
    width:85%;
    color:$text-color;
    text-align: justify;
   
    p:nth-child(-n+2){
        color:$text-color-dark;
        font-weight:bold;
    }
    p:last-of-type{
        font-weight:lighter;
    }

    
}


// Hide last bar since not item comes next
.sectionlistitem-box:last-child hr{
    visibility: hidden;
}

hr {
    width:100%;
    margin:0;
}