.skillList__title {
    font-weight: bold;
    color:$banner-blue;
    
}
.skillList__date {
    font-weight: bold;
    color:$text-color-dark;
    margin: $s-size 0 ;
}
.skillList__titles {
    color:$text-color;
    margin: 0.5*$s-size 0;
}
.skilList__description{
    color:$text-color;
    text-align: justify;
}