// Colors
$sand-yellow: #efe80c;
$banner-blue:#08a6d6;
$about-grey: #c3bebe33;
$text-color: #776f6f;
$text-color-dark: #565656;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$header-banner-spacing: 2rem;
$left-section: 30rem;

$cv-page-width-limit: 90rem;

$horizontal-item-spacing:1.5rem;

$mobile-breakpoint: 768px;
